<%- include('../partials/adminheader') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <!-- <p>Whole data about your business here</p> -->
                </div>
                <div>
                    <a href="/admin/ExcelSalesData" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                              <span>  Rs.<span id="amount"><%= revenue[0].total %></span></span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span><%=ordercount%></span>
                                <span class="text-sm">
                                    Excluding orders in transit
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span><%=product%></span>
                                <span class="text-sm">
                                    In 2 Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info  material-icons md-person"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Number of users</h6> <span><%=user%></span>
                               
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale Statistics</h5>
                            <canvas id="myChart" height="120px"></canvas>
                        </article>
                    </div>
                    
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Category Sales</h5>
                            <canvas id="myChart2" height="217"></canvas>
                        </article>
                    </div>
                    
                </div>
            </div>
            <div class="card mb-4">
               
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <div class="form-check align-middle">
                                                <input class="form-check-input" type="checkbox" id="transactionCheck01">
                                                <label class="form-check-label" for="transactionCheck01"></label>
                                            </div>
                                        </th>
                                        <th class="align-middle" scope="col">Order ID</th>
                                        <th class="align-middle" scope="col">Billing Name</th>
                                        <th class="align-middle" scope="col">Date</th>
                                        <th class="align-middle" scope="col">Total</th>
                                        <th class="align-middle" scope="col">Payment Status</th>
                                        <th class="align-middle" scope="col">Payment Method</th>
                                        <th class="align-middle" scope="col">View Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                 <% if(orders)  { %>
                                  
                                 <% orders.forEach(function(orders) { %>  
                                    <tr>
                                        <td class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="transactionCheck02">
                                                <label class="form-check-label" for="transactionCheck02"></label>
                                            </div>
                                        </td>
                                        <td><a href="#" class="fw-bold">#<%=orders._id%></a> </td>
                                        <td><%=orders.userId.name%></td>
                                        <td><%=new Date(orders.orderDate).toLocaleDateString()%></td>
                                        <td>
                                           Rs.<%=orders.total%>
                                        </td>
                                        <td>
                                            <% if(orders.paymentStatus == "paid")  { %>
                                            <span class="badge badge-pill badge-soft-success">Paid</span>
                                            <% } else{ %>
                                                <span class="badge badge-pill badge-soft-danger">Unpaid</span>
                                                <% } %>
                                        </td>
                                        <td>
                                            <i class="material-icons md-payment font-xxl text-muted mr-5"></i> 
                                            <%=orders.paymentMethod%> 
                                        </td>
                                        <td>
                                            <a href="/admin/orderdetails?id=<%=orders._id%>" class="btn btn-xs"> View details</a>
                                        </td>
                                    </tr>
                                    <% }); %> 
                                    <% } else{ %>
                                      <h4>NO orderlist is available</h4>
                                     <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- table-responsive end// -->
                </div>
            </div>
            
        </section> <!-- content-main end// -->
        <script src="https://code.jquery.com/jquery-3.6.4.slim.js"
        integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

       
  

<script>
   $(document).ready(function() {
  // Get the sales data from the server-side
  $.ajax({
    url: '/admin/getSalesData',
    method: 'GET',
    success: function(response) {
    
     
    var  categorySales = response.categorySales
     var salesData = response.salesData
     console.log(salesData);
     console.log(categorySales);
      
      // Create a function to render the chart
      function renderChart() {
        // Get the canvas element
        const canvas = document.getElementById('myChart');

        // Create the chart using Chart.js
        const ctx = canvas.getContext('2d');
        const myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels:  salesData.map(data => data._id),
            datasets: [{
              label: 'Sales',
              tension: 0.3,
              fill: true,
              backgroundColor: 'rgba(44, 120, 220, 0.2)',
              borderColor: 'rgba(44, 120, 220)',
              data: salesData.map(data => data.totalRevenue)
            }]
          },
          options: {
            plugins: {
              legend: {
                labels: {
                  usePointStyle: true
                }
              }
            }
          }
        });
      }
      function renderChart2() {
        // Get the canvas element
        const canvas = document.getElementById('myChart2');

        // Create the chart using Chart.js
        const ctx = canvas.getContext('2d');
        const myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels:  categorySales.map(data => data._id),
            datasets: [{
              label: 'Sales',
              tension: 0.3,
              fill: true,
              backgroundColor: 'rgba(44, 120, 220, 0.2)',
              borderColor: 'rgba(44, 120, 220)',
              data: categorySales.map(data => data.totalSales)
            }]
          },
          options: {
            plugins: {
              legend: {
                labels: {
                  usePointStyle: true
                }
              }
            }
          }
        });
      }
      


      // Call the renderChart function to display the chart
      renderChart();
      renderChart2();
    },
   
  });
});

</script>


        <%- include('../partials/adminfooter') %>