<%- include('../partials/adminheader') %>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID: 3453012</p>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2020, 4:34PM</b>
                    </span> <br>
                    <small class="text-muted">Order ID: 3453012</small>
                </div>
                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                    <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                        <option class="status">Change status</option>
                        <option class="status" >Awaiting payment</option>
                        <option class="status">Confirmed</option>
                        <option class="status">Shipped</option>
                        <option class="status">Delivered</option>
                    </select>
                    <a class="btn btn-primary " id="update" role="button" data-update="<%=order._id%>" >Save</a>
                    <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>

                   
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                <%=order.userId.name%> <br>  <%=order.userId.email%> <br> <%=order.userId.phone%>  
                            </p>
                           
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: Fargo express <br> Pay method: card <br> Status: new
                            </p>
                            <a href="#">Download info</a>
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                <%=order.address.address1%>  <br>   <%=order.address.address2%> <br>city: <%=order.address.city%> <br>country: <%=order.address.country%>
                                <br> Landmark: <%=order.address.landmark%>   <br>Zip code: <%=order.address.zipcode%> 
                            </p>
                            <a href="#">View profile</a>
                        </div>
                    </article>
                </div> <!-- col// -->
            </div> <!-- row // -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%">Status</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                         <% order.product.forEach(function(product) { %>   
                                <tr>
                                    <td>
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <% if (product.product_id.productImage ) { %>
                                                    <img src="upload/<%=product.product_id.productImage[0] %>" class="product-image" alt="It" width="50"  />
                                                  <% } else { %>
                                                    <img src="upload/img.webp" alt="Default Image" class="product-image" />
                                                  <% } %>  
                                                <!-- <img src="" width="40" height="40" class="img-xs" alt="Item"> -->
                                            </div>
                                            <div class="info"><%=product.product_id.productName %> </div>
                                        </a>
                                    </td>
                                    <td><%=product.product_id.price %></td>
                                    <td><%=order.itemquantity%> </td>
                                    <td><span class="badge rounded-pill alert-warning"><%=order.status%></span> </td>
                                    <% let total = product.product_id.price * order.itemquantity%>
                                    
                                    <td class="text-end"><%=total%></td>
                                </tr>
                                
                            </tbody>
                            <% }); %> 
                        </table>
                    </div> <!-- table-responsive// -->
                </div> <!-- col// -->
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <div class="box shadow-sm bg-light">
                        <h6 class="mb-15">Payment info</h6>
                        <p>
                           <%=order.paymentMethod%> 
                            <!-- <img src="asset/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br> -->
                            <!-- Business name: Grand Market LLC <br> -->
                            <!-- Phone: +1 (800) 555-154-52 -->
                        </p>
                        <h6  class="mb-15">Payment status</h6>
                        <% if(order.status == "Return"){ %>
                        <span class="badge rounded-pill alert-danger">Refund</span> 
                        <% }  else { %>
                            <span class="badge badge-pill badge-soft-success">Paid</span>
                            <% } %>	
                    </div>
                    <div class="h-25 pt-4">
                        <div class="mb-3">
                            <label>Notes</label>
                            <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                        </div>
                        <button class="btn btn-primary">Save note</button>
                    </div>
                </div> <!-- col// -->
            
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->
<script src="https://code.jquery.com/jquery-3.6.4.slim.js" integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>



<script>

$('#update').on('click', function() {     
 console.log('clicked');
var orderid =$(this).data('update')
var status = $('.status:checked').text().trim()
console.log(status);

var data = {
	"orderid":orderid,
	"status":status
}

    $.ajax({
      url: '/admin/statusupdate',
      method: "post", 
      data:data,
      success: function(response) {
        if (response.message == "1") {
            Swal.fire({
                            title: "Success",
                            text: "Status is updated",
                            icon: "success",
                            confirmButtonText: "OK"
                        }).then((result)=>{
                            if(result.isConfirmed){
                                window.location.href ="/admin/order"; // Redirect to another page
                            }
                        }) 

        }else{
            Swal.fire({
                            title: "Error",
                            text: "Something went worng",
                            icon: "error",
                            confirmButtonText: "OK"
                        })

        }
      }
     
    });
  });




</script>










<%- include('../partials/adminfooter') %>