      
       <%- include('../partials/userheader') %>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h3 class="page-title"> Cart</h3>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            
	
            <div class="page-content">
            	<div class="cart">
	                <div class="container">
	                	<div class="row">
	                		<div class="col-lg-9">
	                			<table id="myTable" class="table table-cart table-mobile">
							<% if (cart) { %>	
									<thead>
							
										<tr>
											<th>Product</th>
											<th>Price</th>
											<th>Quantity</th>
											<th>Total</th>
											<th></th>
										</tr>
									</thead>

									<tbody>
							
										<% cart.product.forEach(function(product) { %>
										<tr>
											<td class="product-col">
												<div class="product">
													<figure class="product-media">
														<!-- <a href="#">
															<img src="upload/" alt="Product image">
														</a> -->
														<% if (product && product.product_id && product.product_id.productImage) { %>
															<a href="#">
																<img src="upload/<%= product.product_id.productImage[0] %>" alt="Product image">
															</a>
														<% } else { %>
															<a href="" >
																<img src="" alt="no imag">
															</a>
														<% } %>
														
													</figure>
                                                 
													<h3 class="product-title">
													
														<a href="#"><%= product.product_id.productName%></a>
													</h3><!-- End .product-title -->
												</div><!-- End .product -->
											</td>
											<td class="price-col price">₹<%= product.product_id.price%></td>
											<!-- <td class="quantity-col">
                                                <div class="cart-product-quantity">
                                              <input type="number" class="form-control qty" value="1" min="1" max="10" step="1" data-decimals="0" required>
											 
                                                </div>
                                            </td> -->
											
											<td><div class="button-container">
												<button class="cart-qty-minus" data-proid="<%=product.product_id._id%>" type="button" >-</button>
												<input type="text" name="qty" min="0" class="qty" min="0"  value="<%=product.product_id.isselected%>" style="width: 30px;" >
												<button class="cart-qty-plus" data-proid="<%=product.product_id._id%>"  type="button" >+</button>
											</div>
											</td>
											
											<td class="total-col amount" id="amount">₹</td>
											<td class="remove-col"><button class="btn-remove delete"  value="<%=product.product_id._id%>" ><i class="icon-close"></i></button></td>
										</tr>

										<% }); %>
									</tbody>
									<% } else { %>
									<tbody>
										
											<tr>
												<td class="product-col">
													<div class="product">
														<figure class="product-media">
															<a href="#">
																
															</a>
														</figure>
	
														<h3 class="product-title">
															<a href="#">Empty cart </a>
														</h3>
													</div>
												</td>
												
											</tr>
											<% } %>
									</tbody>
								</table><!-- End .table table-wishlist -->

	                			
	                		</div><!-- End .col-lg-9 -->
	                		<aside class="col-lg-3">
	                			<div class="summary summary-cart">
	                				<h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

	                				<table class="table table-summary">
	                					<tbody>
	                						<tr class="summary-subtotal">
	                							<td>Subtotal:</td>
	                							<td id="total" class="total">0</td>
	                						</tr>
	                						<tr class="summary-shipping">
	                							<td>Shipping:</td>
	                							<td>&nbsp;</td>
	                						</tr>

	                						<tr class="summary-shipping-row">
	                							<td>
													<div class="custom-control custom-radio">
														<input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="free-shipping">Free Shipping</label>
													</div><!-- End .custom-control -->
	                							</td>
	                							<td>$0.00</td>
	                						</tr><!-- End .summary-shipping-row -->

	                						<tr class="summary-shipping-estimate">
	                							<td>Estimate for Your Country<br> <a href="dashboard.html">Change address</a></td>
	                							<td>&nbsp;</td>
	                						</tr><!-- End .summary-shipping-estimate -->

	                						<tr class="summary-total">
	                							<td>Total:</td>
	                							<td class="total"> </td>
	                						</tr><!-- End .summary-total -->
	                					</tbody>
	                				</table><!-- End .table table-summary -->

	                				<a href="/checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
	                			</div>	<!-- End .summary -->

		            			<a href="category.html" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
	                		</aside><!-- End .col-lg-3 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .cart -->
            </div>
        </main>

<script src="https://code.jquery.com/jquery-3.6.4.slim.js" integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
<script>
	
 $(document).ready(function(){
  update_amounts();
  
  // Handle quantity changes
  $('.qty,.price').on('keyup keypress blur change', function(e){
    update_amounts();
  });
  
  // Handle increment/decrement buttons
  $('.cart-qty-plus').on('click', function(){
	console.log("clicked");
	var data = $(this).data('proid')
    var input = $(this).siblings('.qty');
  	
	//with incrementing the quatity number ajax call
	$.ajax({
		url:'/incrementproduct?id='+ data,
		methode:"get",
		success: function(response){
		console.log(response.message);
		 if(response.message == "0"){
		// if response is zero it means product Quantity is unavailable
			console.log("failed");
			Swal.fire({
                            title: "Error",
                            text: "Item is Out of Stoke",
                            icon: "error",
                            confirmButtonText: "OK"
                        }); 
		 }else{
		   console.log("pass");	
          var val = parseInt(input.val());
          input.val(val + 1);
          update_amounts();
		 }
		}
	})

  });

  $('.cart-qty-minus').on('click', function(){
	var data = $(this).data('proid')
    var input = $(this).siblings('.qty');
      var val = parseInt(input.val());
            if (val > 1) {
            input.val(val - 1);
           
    
	$.ajax({
		url:'/decrementproduct?id='+ data,
		methode:"get",
		success: function(response){
		 if(response.message == "1"){
			console.log("decremented");
			update_amounts();
		 }else{
			Swal.fire({
                            title: "Error",
                            text: "Something is worng try after few min",
                            icon: "error",
                            confirmButtonText: "OK"
                        }); 
		 }
		}
	})
	}
  });
});

function update_amounts(){
  var sum = 0.0;
  $('#myTable > tbody > tr').each(function(){
    var qty = $(this).find('.qty').val();
    var price = $(this).find('.price').text().replace(/[^\d\.]/g, '');
    var amount = (qty * price);
    sum += amount;
    $(this).find('.amount').text('₹' + amount.toFixed(2));
  });
  $('.total').text('₹' + sum.toFixed(2));
}

$('.delete').click(async function(){
	console.log("button is click");
	let id = $(this).val()
	console.log(id);
	$.ajax({
		url:"/deletecartitem?id=" +id,
		methode:'get',

		success: function(response){
          if(response.message == "1"){
			Swal.fire({
                 title: "Success",
                text: "Item deleted",
                icon: "success",
                confirmButtonText: "OK"
               }).then((result)=>{
                            if(result.isConfirmed){
                                window.location.href ="/cart"; // Redirect to another page
                            }
                        })  
		  }else{
			Swal.fire({
                 title: "Error",
                text: "Something went worng",
                icon: "error",
                confirmButtonText: "OK"
               }); 
		  }
		}
	})
})


		  
</script>


        <%- include('../partials/userfooter') %>