<%- include('../partials/userheader') %>

<main class="main">
  <div
    class="page-header text-center"
    style="background-image: url('assets/images/page-header-bg.jpg')"
  >
    <div class="container">
      <h3 class="page-title">checkout</h3>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-header -->

  <div class="page-content">
    <div class="cart">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <table id="myTable" class="table table-cart table-mobile">
              <% if (user.length > 0) { %>
              <h3 class="card-title mt-2">Shipping Address</h3>
              <!-- End .card-title -->
              <% user.forEach(function(address) { %>
              <tbody>
                <tr>
                  <td class="product-col">
                    <input
                      class="form-check-input mt-3 address"
                      id="<%=address.id %>"
                      type="radio"
                      value="<%=address.id %>"
                      name="customerAddress"
                    />

                    <p class="ml-5">
                      <%= address.address1 %> , <%=address.address2%>
                      <%=address.city%><br />
                      <%=address.country%> , <%=address.landmark%> <br />
                      <%=address.zipcode%>
                      <a class="nav-link" id="tab-add-link" href="/profile"
                        >Add New address<i class="icon-edit"></i
                      ></a>
                    </p>
                  </td>
                </tr>

                <% }); %>
              </tbody>
              <% } else { %>
              <tbody>
                <tr>
                  <td class="product-col">
                    <div class="product">
                      <figure class="product-media">
                        <a href="#"> </a>
                      </figure>

                      <p>No order has been made yet.</p>
                      <a href="category.html" class="btn btn-outline-primary-2"
                        ><span>GO SHOP</span
                        ><i class="icon-long-arrow-right"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <!-- End .table table-wishlist -->
            <div  class="cart-bottom">
              <div class="cart-discount">
                <p class="text-dark">
                  Apply coupon or offer to get
                  <strong class="text-danger">Upto 100 RS Discount.</strong>
                  
                </p>
		
				<div id="accordion"  class="card ">
					<div class="card-header" id="headingTwo">
					  <h5 class="mb-0">
						<button class="btn btn-link collapsed text-success" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							click here
						</button>
					  </h5>
					</div>
				
					<div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
					
					  <div class="card-body ">
						<table class="table table-wishlist  table-mobile" style="width: 800px;">
							<tbody>
            <thead>
              <tr>
                <th>Description</th>
                <th>Discount</th>
                <th>minimum Amount</th>
                <th>Exprie Date</th>
                <th> Apply Code</th>
              </tr>
             </thead>

                <% coupon.forEach(function(coupon) { %>
								<tr>
									<td class="product-col">
										<div class="product">
	
											<h3 class="product-title">
												<a href="#"><%=coupon.couponDescription%></a>
											</h3>
										</div>
									</td>
									<!-- <td class="price-col"><%=coupon.category%></td> -->
									<td class="stock-col"><%=coupon.couponAmount%></td>
									<td class="stock-col"><%=coupon.minimumAmount%></td>
									<td class="stock-col"><%=new Date(coupon.couponExprieDate).toLocaleDateString()%></td>
									<td >
                    <a  class="btn  btn-secondary"><%=coupon.couponName%></a>
									</td>
									
								</tr>
                <% }); %>
							</tbody>
							
							
						</table>
					  </div>
					</div>	
					
				  </div>
               

                <div class="input-group mt-2">
                  <input type="text" id="coupon" class="form-control" />
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary-2 sub" type="button">
                      <i class="icon-long-arrow-right"></i>
                    </button>
                  </div>
                  <!-- .End .input-group-append -->
                </div>
                <!-- End .input-group -->
              </div>
              <!-- End .cart-discount -->
            </div>
            <!-- End .cart-bottom -->
          </div>
         
          <% if (cart.length > 0) { %>
          <aside class="col-lg-3">
            <div class="summary summary-cart">
              <h3 class="summary-title">Order Summary</h3>
             

              <table id="mytabel" class="table table-summary">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Total</th>
                  </tr>
                </thead>

                <tbody>
                  <% cart.forEach(function(product) { %> 
                  <%product.product.forEach(function(product) { %>
                   
                  <tr>
                    <td><%=product.product_id.productName%></td>
                    <input type="hidden" class="category_id" value="<%=product.product_id.category_id%>">  
                    <% let total = product.product_id.price * product.product_id.isselected%>
                    <td class="Rs"><%=total%></td>
                  </tr> 

                  <% }); %>
                   <% }); %>
                </tbody>
              </table>
              <table class="table table-summary">
                <tbody>
                  <tr class="summary-subtotal">
                    <td>Subtotal:</td>
                    <td id="subtotal"></td>
                  </tr>
                  <tr>
                    <td>Coupon or Offer</td>
                    <td><p id="dis">0</p></td>
                  </tr>
                  <tr class="summary-total">
                    <td>Total:</td>
                    <td id="finaltotal"></td>
                  </tr>
                </tbody>
              </table>

              <div class="accordion-summary" id="accordion-payment">
                <div class="card">
                  <div class="card-header" id="heading-1">
                    <h2 class="card-title">
                      <a
                        role="radio"
                        class="collapsed method"
                        data-toggle="collapse"
                        data-method="bank transfer"
                        href="#collapse-1"
                        aria-expanded="true"
                        aria-controls="collapse-1"
                      >
                        Direct bank transfer
                      </a>
                    </h2>
                  </div>
                  <div
                    id="collapse-1"
                    class="collapse show"
                    aria-labelledby="heading-1"
                    data-parent="#accordion-payment"
                  >
                    <div class="card-body"></div>
                    <!-- End .card-body -->
                  </div>
                  <!-- End .card-header -->
                </div>
                <!-- End .card -->

                <div class="card">
                  <div class="card-header" id="heading-3">
                    <h2 class="card-title">
                      <a
                        class="collapsed method"
                        role="radio"
                        data-method="COD"
                        value="COD"
                        data-toggle="collapse"
                        href="#collapse-3"
                        aria-expanded="false"
                        aria-controls="collapse-3"
                      >
                        Cash on delivery
                      </a>
                    </h2>
                  </div>
                  <!-- End .card-header -->
                  <div
                    id="collapse-3"
                    class="collapse"
                    aria-labelledby="heading-3"
                    data-parent="#accordion-payment"
                  >
                    <div class="card-body"></div>
                    <!-- End .card-body -->
                  </div>
                </div>
                <!-- End .card -->

                <div class="card">
                  <div class="card-header" id="heading-4">
                    <h2 class="card-title">
                      <a
                        class="collapsed method"
                        role="radio"
                        data-method="Razorpay"
                        value="Razorpay"
                        data-toggle="collapse"
                        href="#collapse-4"
                        aria-expanded="false"
                        aria-controls="collapse-4"
                      >
                        Razorpay
                        <small class="float-right paypal-link"
                          >What is Razorpay?</small
                        >
                      </a>
                    </h2>
                    <div
                      id="collapse-4"
                      class="collapse"
                      aria-labelledby="heading-4"
                      data-parent="#accordion-payment"
                    >
                      <div class="card-body"></div>
                      <!-- End .card-body -->
                    </div>
                    <!-- End .collapse -->
                  </div>
                  <!-- End .card-header -->
                </div>
                <!-- End .card -->

                <div class="card">
                  <div class="card-header" id="heading-5">
                    <h2 class="card-title">
                      <a
                        class="collapsed method"
                        role="radio"
                        data-method="stripe"
                        data-toggle="collapse"
                        href="#collapse-5"
                        aria-expanded="false"
                        aria-controls="collapse-5"
                      >
                        Credit Card (Stripe)
                        <img
                          src="assets/images/payments-summary.png"
                          alt="payments cards"
                        />
                      </a>
                    </h2>
                  </div>
                  <!-- End .card-header -->
                  <div
                    id="collapse-5"
                    class="collapse"
                    aria-labelledby="heading-5"
                    data-parent="#accordion-payment"
                  >
                    <div class="card-body"></div>
                    <!-- End .card-body -->
                  </div>
                </div>
                <!-- End .card -->
              </div>
              <!-- End .accordion -->

              <button
                type="submit"
                id="payment"
                class="btn btn-outline-primary-2 btn-order btn-block"
              >
                <span>Place Order</span>
              </button>
            </div>
            <!-- End .summary -->
            <% } else { %>

            <div
              class="tab-pane fade"
              id="tab-orders"
              role="tabpanel"
              aria-labelledby="tab-orders-link"
            >
              <p>No order has been made yet.</p>
              <a href="category.html" class="btn btn-outline-primary-2"
                ><span>GO SHOP</span><i class="icon-long-arrow-right"></i
              ></a>
              <a
                href="category.html"
                class="btn btn-outline-dark-2 btn-block mb-3"
                ><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i
              ></a>
            </div>
            <!-- .End .tab-pane -->

            <% } %>
          </aside>
          <!-- End .col-lg-3 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .cart -->
  </div>
</main>

<script
  src="https://code.jquery.com/jquery-3.6.4.slim.js"
  integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4="
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
<script>
  $(document).ready(function () {
    update_amounts();

    function update_amounts() {
      let subtotal = 0;
      $("#mytabel > tbody > tr").each(function () {
        let price = $(this)
          .find(".Rs")
          .text()
          .replace(/[^\d\.]/g, "");
        let total = parseInt(price);
        //   console.log(price);
        subtotal += total;
        //   console.log(subtotal);
      });

      let couponrs = 0;
      let total = subtotal - couponrs;

      $("#subtotal").text("₹" + subtotal.toFixed(2));

      $("#finaltotal").text(total.toFixed(2));
    }
  });

// coupon validation 
  $(document).ready(function() {
  $(".sub").on("click", function () {
    console.log("clicked");
    var coupon = $("#coupon").val();
      
    $.ajax({
      url: "/checkvalidcoupon?id=" + coupon,
      methode: "get",
      success: function (responce) {
        if (responce.message == "1") {
          var couponAmount = responce.coupon.couponAmount;
          var miAmount = responce.coupon.minimumAmount;
          var category = responce.coupon.category
          var categoryId =$('.category_id').val()
          console.log(categoryId);
          var producttotal = $("#subtotal")
            .text()
            .replace(/[^\d\.]/g, "");
            if(category =="All")
            {
              if (producttotal >= miAmount) {
            var total = producttotal - couponAmount;
            document.getElementById("finaltotal").innerHTML = total;
            document.getElementById("dis").innerHTML =
              responce.coupon.couponAmount;
            Swal.fire({
              title: "Success",
              text: "Coupon is Redeemed happy Shopping ",
              icon: "success",
              confirmButtonText: "OK",
            });
          } else {
            Swal.fire({
              title: "Error",
              text: "Coupon only apply above 500 purchase Amount ",
              icon: "error",
              confirmButtonText: "OK",
            });
          }
            }else{
             if(category == categoryId){
              if(producttotal >= miAmount){
                var total = producttotal - couponAmount;
            document.getElementById("finaltotal").innerHTML = total;
            document.getElementById("dis").innerHTML =
              responce.coupon.couponAmount;
              Swal.fire({
              title: "Success",
              text: "Offer is Redeemed happy Shopping ",
              icon: "success",
              confirmButtonText: "OK",
            });
              }else{
                Swal.fire({
              title: "Error",
              text: "Coupon only apply above Minimum Amount purchase Amount ",
              icon: "error",
              confirmButtonText: "OK",
            });
              }
             }else{
              Swal.fire({
              title: "Error",
              text: "Invalid Coupon Only fpor selected category",
              icon: "error",
              confirmButtonText: "OK",
            });
             }
            }
          
        } else {
          Swal.fire({
            title: "Error",
            text: responce.message,
            icon: "error",
            confirmButtonText: "OK",
          });
        }
      },
    });
  });
});
  $("#payment").on("click", function () {
    var address = $("input[name=customerAddress]:checked").val();
    var paymentMethod = $(
      '.accordion-summary .card-header .method[aria-expanded="true"]'
    ).data("method");
    var discount = $("#dis").text().trim();
    var purchase = $("#finaltotal").text().trim();
    var categoryId =$('.category_id').val()
          console.log(categoryId);
    var data = {
      paymentmethod: paymentMethod,
      discount: discount,
      purchase: purchase,
      address: address,
      categoryId: categoryId,
    };
    $.ajax({
      url: "/orderdeatils",
      method: "post",
      data: data,

      success: function (responce) {
        console.log(responce.send.paymentMethod);
        if (responce.message == "1" && responce.send.paymentMethod == "COD") {
          Swal.fire({
            title: "Success",
            text: "Order is placed successfully",
            icon: "success",
            confirmButtonText: "OK",
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = "/profile"; // Redirect to profile page
            }
          });
        } else if (
          responce.message == "1" &&
          responce.send.paymentMethod == "Razorpay"
        ) {
          Swal.fire({
            title: "Success",
            text: "Pay Through Razorpay",
            icon: "success",
            confirmButtonText: "OK",
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = "/onlinepayment?id="+ responce.send._id; // Redirect to payment  page
            }
          });
        } else {
          Swal.fire({
            title: "Error",
            text: "Something went worng try again after sometimes",
            icon: "error",
            confirmButtonText: "OK",
          });
        }
      },
    });
  });
</script>

<%- include('../partials/userfooter') %>
