<%- include('../partials/userheader') %>

<main class="main">
  <div class="page-content">
    <div class="container">
      <h4 class="text-center mt-3 mb-5">ALL CATEGORIES</h4>
      <!-- End .title -->

      <div class="row">
        <% data.forEach(category=> { %>
        <div class="col-md-6">
          <div class="banner banner-cat">
            <a href="/">
              <img src="assets/images/category/banner-2.jpg" alt="Banner" />
            </a>

            <div class="banner-content">
              <h3 class="banner-title"><%=category.category%></h3>
              <!-- End .banner-title -->
              <h4 class="banner-subtitle"></h4>
              <!-- End .banner-subtitle -->
              <a href="#" class="banner-link">Shop Now</a>
            </div>
            
          </div>
         
        </div>
        <% }); %>
      </div>
  
      <!-- <hr class="mt-3 mb-5" />
      <h2 class="title text-center mb-3">NEW ARRIVALS</h2> -->


      
            <div class="container">
              <ul class="nav nav-pills nav-big nav-border-anim justify-content-center mb-2 mb-md-3" role="tablist">
                  <li class="nav-item">
      
                      <a class="nav-link active" id="products-featured-link" data-toggle="tab" href="#products-featured-tab"
                          role="tab" aria-controls="products-featured-tab" aria-selected="true">Products</a>
      
                  </li>
              </ul>
      
      
              <div class="row">
      
                <% data.forEach(function(category) { %>

                  <% category.product.forEach(function(product) { %>
                          <div class=" col-12 col-md-12 col-lg-3 d-flex product card product-2 text-center mr-5"
                              style="width: 10px; height: 400px;">
                              <figure class="product-media ">
                               
                                  <% if (product.image && product.image.length > 0) { %>
                                    <a href="/viewproduct?id=<%=product.id %>">
                                    <img src="upload/<%=product.image[0] %>" alt="Product image" class="product-image">
                                    <img src="upload/<%=product.image[1] %>" alt="Product image" class="product-image-hover">
                                     </a>
                                    <% } else { %>
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-6/products/product-1-1.jpg" alt="Product image" class="product-image">
                                            <img src="assets/images/demos/demo-6/products/product-1-2.jpg" alt="Product image" class="product-image-hover">
                                        </a>
                                    <% } %>
                                    
                                  <div class="product-action-vertical">
                                      <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                              wishlist</span></a>
                                  </div><!-- End .product-action-vertical -->
      
                                 
                                  <div  class="product-action">
                                      <a  role="button"   data-proid="<%=product.id %>" class="addtocartbutton btn-product btn-cart"><span>add to cart</span></a>
                                  </div><!-- End .product-action -->
                              </figure><!-- End .product-media -->
      
                              <div class="product-body">
                                  <div class="product-cat">
                                      <a href="#">
                                        <%= product.product_name %>
                                      </a>
                                  </div><!-- End .product-cat -->
                                  <h3 class="product-title"><a href="product.html">
                                       
                                      </a></h3>
                                  <!-- End .product-title -->
                                  <div class="product-price">
                                    <%= product.product_price %>
                                  </div><!-- End .product-price -->
                              </div><!-- End .product-body -->
                          </div><!-- End .product -->
                          <% }); %>
                          <% }); %>
              </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
      
      
          </div><!-- End .container -->
           
           

            
           
       </div>
      
        </div>
      
      <!-- End .title -->
    </div>
  
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.slim.js" integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
<script>
  $(".addtocartbutton").click(function () {
    console.log("button clicked");
    let productid = $(this).data('proid');
    console.log(productid);
    $.ajax({
      url: "/addtocart?id=" + productid,
      type: "GET",
      success: function (response) {
       if(response.message == "1"){
        console.log('response is back');
        Swal.fire({
        
                  title: "success",
                  text: "Item is alerady add to cart",        
                  icon: "info",
                  confirmButtonText: "OK"
                 }); 

       }else{
        console.log('response is back');
        Swal.fire({
                  title: "success",
                  text: "added to cart",        
                  icon: "success",
                  confirmButtonText: "OK"
                 }); 
       }
      }
    });
  });

  // whishlist script
  $(".addtowhishlist").click(function () {
    console.log("button clicked");
    let productid = $(this).data("whishlist");
    console.log(productid);

    $.ajax({
      url: "/addtowhishlist?id=" + productid,
      type: "GET",
      success: function (response) {},
      error: function (error) {
        console.log("Error: " + error);
      },
    });
  });


</script>
<%- include('../partials/userfooter') %>
