<%- include('../partials/userheader') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
               
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>

									<li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Edit Profile</a>
								    </li>
								   
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
									<li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Change Password</a>
								    </li>
								    <li class="nav-item">
								        <a href="/logout" class="nav-link" href="#">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->
                             
	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content ">
								    <div class="tab-pane fade show active  " id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                       
                                        <div class="d-flex justify-content-center">
											
                                          
                                            <div class="position-relative ">
												<img src="assets/images/demos/demo-6/icons8.png" style="width: 60px;" alt="">
												</div>
												
												<p class="m-4"> <span class="font-weight-bold text-dark">Hello,  <%=user[0].name%></span></p>                                                     
                                        </div>
									   <div class="d-flex justify-content-center">	
										<div class="mt-5 ">
								    	<p>Full Name : <span class="font-weight-normal text-dark"><%=user[0].name%></span>
								    	<p>Email : <span class="font-weight-normal text-dark"><%= user[0].email%></span> 
                                        <p>Phone number : <span class="font-weight-normal text-dark"><%= user[0].phone%></span> </p>
									   </div>
									</div> 
                                        <!-- <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p> -->
									
								    </div><!-- .End .tab-pane -->
									
								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
										
											<% if (order)  { %>
											<table class="table table-wishlist table-mobile" style="width: 800px;">
											
												<thead>
													<tr>
														<th>Product</th>
														<th>Price</th>
														<th>Date</th>
														<th>Status</th>
														
														<th></th>
													</tr>
												</thead>
												<% order.forEach(function(order) { %>
													<% order.product.forEach(function(product) { %>
												<tbody>
											
													<tr>
														<td class="product-col">
															<div class="product">
																<figure class="product-media">
																	<a href="/viewproduct?id=<%=product.id %>">
																		<% if (product.product_id.productImage ) { %>
																		  <img src="upload/<%=product.product_id.productImage[0] %>" class="product-image" alt="It" width="50px" />
																		<% } else { %>
																		  <img src="upload/img.webp" alt="Default Image" class="product-image" />
																		<% } %>
																		
																</figure>
						
																<h3 class="product-title">
																	<a href="#"><%=product.product_id.productName %></a>
																</h3>
															</div>
														</td>
														<td class="price-col"><%=product.product_id.price %></td>
														<td class="stock-col"><%=new Date(order.orderDate).toLocaleDateString()%></td>
														<td class="action-col">
															<% if(order.status == "Delivered"){ %>
															<a data-returnorder="<%=order._id%>" class="btn  btn-outline-primary-2 return">RETURN</a>
															<% } else if(order.status == "Return") { %>
																<a  class="btn  btn-outline-primary-2">Order cancelled</a>
																
															<% }  else { %>
																<a  class="btn  btn-outline-primary-2"><%=order.status%></a>
																<% } %>	


															<a href="/orderhistory?id=<%=order._id%>" class="btn  btn-outline-primary-2">View Details</a>
														</td> 
														<% if(order.status == "Delivered" || order.status == "Return"){ %>
															
														<% }  else { %>
															<td class="remove-col"><button class="btn-remove cancelorder" value="<%=order._id%>"><i class="icon-close"></i></button></td>
														<% } %>	
													</tr>
													
												</tbody>
												<% }); %>
												<% }); %>
												
											</table>
											
											<% }  else { %>
											<p>No order has been made yet.</p>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
										
								    	<% } %>	
										
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
								    	<!-- <p>No downloads available yet.</p>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a> -->

		            						<label>New password *</label>
		            						<input type="password" class="form-control" name="password" id="newpassword" required>
		                					<label>Re-enter password *</label>
		        							<input type="password" class="form-control" required>
		            							<button id="updatepassword"  class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p>The following addresses will be used on the checkout page by default.</p>
									
										<% if (user[0].address_details.length > 0)  { %>								
								    	<div class="row">
											<% user[0].address_details.forEach(function(address) { %>
								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title"> Address</h3><!-- End .card-title -->
														<p><%= address.address1 %><br>
														<%=address.address2%>	<br>
														<%=address.city%><br>
														<%=address.country%>	<br>
														<%=address.landmark%>	<br>
														<%=address.zipcode%>
														<a class="nav-link" id="tab-add-link" data-toggle="tab" href="#tab-add" role="tab" aria-controls="tab-add" aria-selected="false">Add <i class="icon-edit"></i></a>
														<a role="button" data-delete="<%=address._id%>" id="delete" class="nav-link"><i class="fa fa-trash" aria-hidden="true"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
											<% }); %>
											<% } else { %>
												<div class="row">
													<div class="col-lg-6">
														<div class="card card-dashboard">
															<div class="card-body">
																<h3 class="card-title"> Shipping Address</h3>
		
																<p>Add your address<br>
															
																<a class="nav-link" id="tab-add-link" data-toggle="tab" href="#tab-add" role="tab" aria-controls="tab-add" aria-selected="false">Add <i class="icon-edit"></i></a></p>
															</div>
														</div>
													</div>
												
												</div>
												
												<% } %>

                                            <div class="tab-pane fade" id="tab-add" role="tabpanel" aria-labelledby="">
                                                <form action="/addaddress" method="post">
                                                   
                                                    <div class="row">
                                                        
                                                        <div class="col-sm-6">
                                                         <label>Adress Line 1 <span style="color: red;"> *</span></label>
                                                        <input type="text" name="address1" class="form-control" required>
                                                        </div><!-- End .col-sm-6 -->
        
                                                        <div class="col-sm-6">
                                                            <label>Adress Line 2 <span style="color: red;"> *</span></label>
                                                            <input type="text" name="address2" class="form-control" required>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->
                                                    <div class="row">
                                                       
                                                        <div class="col-sm-6">
                                                         <label>City <span style="color: red;"> *</span></label>
                                                        <input type="text" name="city" class="form-control" required>
                                                        </div><!-- End .col-sm-6 -->
        
                                                        <div class="col-sm-6">
                                                            <label>Country <span style="color: red;"> *</span></label>
                                                            <input type="text" name="country" class="form-control" required>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                         <label>Land Mark <span style="color: red;"> *</span></label>
                                                        <input type="text" name="landmark" class="form-control" required>
                                                        </div><!-- End .col-sm-6 -->
        
                                                        <div class="col-sm-6">
                                                            <label> Postal/Zipcode <span style="color: red;"> *</span></label>
                                                            <input type="text" name="zipcode" class="form-control" required>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->
        
                                                    <button type="submit" class="btn btn-outline-primary-2">
                                                        <span>SAVE CHANGES</span>
                                                        <i class="icon-long-arrow-right"></i>
                                                    </button>
                                                </form>
                                            </div><!-- .End .tab-pane -->
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form action="#">
                                           <div>
		            						<label> Name <span style="color: red;"> *</span></label>
		            						<input type="text" id="name" value="<%=user[0].name%>" class="form-control" required>
											<span class="text-danger" id="name-valid"></span>
										   </div>
										   <div>
		                					<label>Email address <span style="color: red;"> *</span></label>
		        							<input type="email" id="email" value="<%=user[0].email%>" class="form-control" required>
											<span class="text-danger" id="email-valid"></span>
										  </div>
										  <div>
											<label>Phone number <span style="color: red;"> *</span></label>
		        							<input type="text" id="phone" value="<%=user[0].phone%>" class="form-control" required>
											<span class="text-danger" id="phone-valid"></span>
										    </div>
		                					<button id="signup-form" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
			
			</div><!-- End .page-content -->
        </main><!-- End .main -->
		<script src="https://code.jquery.com/jquery-3.6.4.slim.js" integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>

<script>


	
	 $('.cancelorder').click(async function(){
	console.log("button is click");
	let id = $('.cancelorder').val()
	console.log(id);
	Swal.fire({
      title: 'Are you sure?',
      text: 'This action cannot be undone.',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes'
    }).then((result) => {
      if (result.isConfirmed) {

	$.ajax({
		url:"/cancelorderitem?id=" +id,
		methode:'get',

		success: function(response){
          if(response.message == "1"){
			Swal.fire({
                 title: "Cancelled",
                text: "Item is Cancelled",
                icon: "success",
                confirmButtonText: "OK"
               }).then((result)=>{
                            if(result.isConfirmed){
                                location.reload()
                            }
                        })  
		  }else{
			Swal.fire({
                 title: "Error",
                text: "Something went worng",
                icon: "error",
                confirmButtonText: "OK"
               }); 
		  }
		}
	  })
    }
    });
})
// after receving the product return option for user
$('.return').click(async function(){
	console.log('button clicked')
	const retun =$(this).text().trim()
	const retunorderid =$(this).data('returnorder')
	console.log(retun)
	console.log(retunorderid)
	
	if(retun == "RETURN"){
		Swal.fire({
        title: 'Are you sure?',
        text: 'You want to Return the Order!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, !',
        cancelButtonText: 'Cancel',
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url:'/retunorder?id='+retunorderid,
                method:'get',
                
                success: function(response){
                    if(response.message == "0"){
                        Swal.fire({
                            title: "Error",
                            text: response.message,
                            icon: "error",
                            confirmButtonText: "OK"
                        }); 
                    }else{
                        Swal.fire({
                            title: "Success",
                            text: "order is return refund will be on process",
                            icon: "success",
                            confirmButtonText: "OK"
                        })
                    }
                }
            });
        }
    });
	}
})

// form validition
$(document).ready(function() {

$('#signup-form').on('click', function(e) {
	event.preventDefault();
  console.log('button clicked');
  var name = $('#name').val();
  var email = $('#email').val();
  var phone = $('#phone').val();

  if (name.trim() === '') {
	$('#name-valid').text('Name is required');
	setTimeout(function() {
      $('#name-valid').text('')
      }, 2000);
	return;
  }else if($.isNumeric(name)){
	  $('#name-valid').text('Name should not be a number');
	  setTimeout(function() {
      $('#name-valid').text('')
      }, 2000);
	  return;
  }

  if (email.trim() === '') {
	$('#email-valid').text('Email is required');
	setTimeout(function() {
      $('#email-valid').text('')
      }, 2000);
	return;
  } else if (!isValidEmail(email)) {
	$('#email-valid').text('Invalid email format');
	setTimeout(function() {
      $('#email-valid').text('')
      }, 2000);
	return;
  }

  if (phone.trim() === '') {
	$('#phone-valid').text('Phone is required');
	setTimeout(function() {
      $('#phone-valid').text('')
      }, 2000);
	return;
  } else if (phone.length < 10) {
	$('#phone-valid').text('Phone must be at least 10 Number');
	setTimeout(function() {
      $('#phone-valid').text('')
      }, 2000);
	return;
  }else if (!($.isNumeric(phone))){
	$('#phone-valid').text('Phone must be a number');
	setTimeout(function() {
      $('#phone-valid').text('')
      }, 2000);
    return;
  }
  data = {
	name:name,
	email: email,
	phone : phone
  }
  $.ajax({
	url:"/edituserdeatils",
	method: "post",
	data: data,
	success:function(response){
    if(response.message =="1"){
		Swal.fire({
                            title: "Success",
                            text: "Details updated",
                            icon: "success",
                            confirmButtonText: "OK"
                        }).then((result)=>{
                            if(result.isConfirmed){
                                window.location.href ="/profile"; // Redirect to another page
                            }
                        }) 
	}else{
		Swal.fire({
            	  title: "Error",
                  text: "Something went worng",
	            icon: "success",
              confirmButtonText: "OK"
                        })

	}
	}
  })

});

// Other validation functions and form validation logic
});

// Function to check if an email is in a valid format
function isValidEmail(email) {
var emailPattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
return emailPattern.test(email);
}



// deleting address from user profile
$('#delete').click(async function(){
    console.log('button clicked');
    let id = $(this).data('delete')
    console.log(id);
    data = id;

    Swal.fire({
        title: 'Are you sure?',
        text: 'You will not be able to recover this address!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'Cancel',
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url:'/deleteaddress?id='+ data,
                method:'get',
                data: data,
                success: function(response){
                    if(response.status == 400 || response.status == 500){
                        Swal.fire({
                            title: "Error",
                            text: response.message,
                            icon: "error",
                            confirmButtonText: "OK"
                        }); 
                    }else{
                        Swal.fire({
                            title: "Success",
                            text: response.message,
                            icon: "success",
                            confirmButtonText: "OK"
                        }).then((result)=>{
                            if(result.isConfirmed){
                                window.location.href ="/profile"; // Redirect to another page
                            }
                        }) 
                    }
                }
            });
        }
    });
});

// UPADTE PASSWORD IN USER PROFILE

$('#updatepassword').click(async function(){
    console.log('button clicked');
    let password = $("#newpassword").val();
    if(password == ""){
    console.log("please enter a strong password");
    $("status").text("please enter a strong password");
  } else {
    data = {password: password};
    Swal.fire({
        title: 'Are you sure?',
        text: 'You want to update password!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        cancelButtonText: 'Cancel',
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url:'/updatepassword',
                method:'POST',
                data: data,
                success: function(response){
                    if(response.status == 400 || response.status == 500){
                        Swal.fire({
                            title: "Error",
                            text: response.message,
                            icon: "error",
                            confirmButtonText: "OK"
                        }); 
                    }else{
                        Swal.fire({
                            title: "Success",
                            text: response.message,
                            icon: "success",
                            confirmButtonText: "OK"
                        }).then((result)=>{
                            if(result.isConfirmed){
                                window.location.href ="/profile"; // Redirect to another page
                            }
                        }) 
                    }
                }
            });
        }
    });
}
});
</script>


        
        <%- include('../partials/userfooter') %>