
<%- include('../partials/userheader') %>
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Wishlist<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            

            <div class="page-content">
            	<div class="container">
					
					<table class="table table-wishlist table-mobile">
						<% if (wishlist.product.length > 0) { %>	
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Stock Status</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						
						<tbody>
					<% wishlist.product.forEach(function(product) { %>
							<tr>
								<td class="product-col">
									<div class="product">
										<figure class="product-media">
											<% if (product && product.product_id && product.product_id.productImage) { %>
												<a href="#">
													<img src="upload/<%= product.product_id.productImage %>" alt="Product image">
												</a>
											<% } else { %>
												<a href="" >
													<img src="" alt="no imag">
												</a>
											<% } %>
										</figure>

										<h3 class="product-title">
											<a href="#"><%=product.product_id.productName%></a>
										</h3><!-- End .product-title -->
									</div><!-- End .product -->
								</td>
								<td class="price-col">₹<%=product.product_id.price%></td>
								<td class="stock-col"><span class="in-stock">In stock</span></td>
								<td class="action-col">
									<a    value="<%=product.id %>"  class="btn btn-block btn-outline-primary-2"><i class="icon-cart-plus"></i>Add to Cart</a>
								</td>
								<td class="remove-col"><button class="btn-remove"><i class="icon-close"></i></button></td>
							</tr>
							<% }); %>
						</tbody>
					
						
					</table><!-- End .table table-wishlist -->
					
					<% } else { %>
                           <p>Nothing inside the wishlist</p>

						<% } %>

					
	            	<div class="wishlist-share">
	            		<div class="social-icons social-icons-sm mb-2">
	            			<label class="social-label">Share on:</label>
	    					<a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
	    					<a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
	    					<a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
	    					<a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
	    					<a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
	    				</div><!-- End .soial-icons -->
	            	</div><!-- End .wishlist-share -->
            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <%- include('../partials/userfooter') %>